.logo {
   /* Medi. */
   font-family: "Montserrat", sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 30px;
   line-height: 48px;
   /* or 160% */
   letter-spacing: -0.02em;
   margin-top: 37px;
   margin-left: 80px;
   color: #0a1b32;
}
.logo-dot {
   color: #a3dc00;
}

section {
   display: inline-block;
}

.main-title {
   /* Stay Productive & Work Remotely */
   max-width: 495px;
   width: 100%;
   margin-top: 203px;
   margin-left: 200px;
   font-family: "Ramaraja", serif;
   font-style: normal;
   font-weight: 400;
   font-size: 72px;
   line-height: 76px;
   /* or 106% */
   letter-spacing: 0.02em;

   color: #1b0a42;
}
.main-info {
   /* The key to work-from-home success is to create an enviroment that allows you to focus on the tasks at hand. Whether you are working from home for the first time. */
   max-width: 583px;
   width: 100%;
   margin-top: 10px;
   margin-left: 200px;
   font-family: "Roboto", sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 32px;
   /* or 160% */
   letter-spacing: 0.02em;

   color: #9a9a9a;
}
.main-btn {
   width: 152px;
   height: 64px;
   margin-top: 50px;
   margin-left: 200px;
   background-color: #a3dc00;
   border-radius: 6px;
   border: none;
   /*Learn more*/

   font-family: "Roboto", sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 32px;
   /* or 200% */
   text-align: center;
   letter-spacing: 0.02em;

   color: #ffffff;
}
